{% extends 'after_login/base.html' %}

{% block title %}
    User Signup
{% endblock %}

{% block style %}
<style>
    body, html{
        height: 100%;
        background-color: #f4f3ef;
    }
    .poora{
        height: 100%;
    }
    
    .bichmein{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

<div class="content poora">
    <div class="container-fluid poora">
        <div class="row poora">
                    <div class="col-md-4 bichmein">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title text-center">User Module | Sign Up</h4>
                                <hr>
                            </div>
                            <div class="content">
                                    <form action="login">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" name='first_name' placeholder="First Name" class="form-control border-input"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" placeholder="Last Name" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">           
                                            <div class="col-md-12">             
                                                <div class="form-group">
                                                    <label for="Email">Email</label>
                                                    <input type="email" placeholder="Email Address" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">           
                                            <div class="col-md-12">             
                                                <div class="form-group">
                                                    <label for="password">Username</label>
                                                    <input type="text" placeholder="Username" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">           
                                            <div class="col-md-12">             
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" placeholder="Password" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">           
                                            <div class="col-md-12">             
                                                <div class="form-group">
                                                    <label for="Retype Password">Retype Password</label>
                                                    <input type="password" placeholder="Retype Password" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-fill btn-default">Sign Up</button>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}