            <div class="home-about">
              <h2>Why Choose Us</h2>
              <hr>
              <div class="about-wrapper">
                <div class="about-unit">
                  <div class="about-image about-image-1"></div>

                  <h2>Allopaths</h2>
                  <p>
                    We have expert allopathic consultants who investigate your
                    medical history and suggest most appropriate views to dieticians
                    so that most suited calorie-counted diet plans can be prepared.
                  </p>
                </div>
                <div class="about-unit">
                  <div class="about-image about-image-2"></div>
                  <h2>Dieticians</h2>
                  <p>
                    We have dieticians who are experienced practitioners and
                    have achieved the national standards of healthcare education
                    that qualify them as professional trainers for weight management
                    (both weight loss or gain).
                  </p>
                </div>
                <div class="about-unit">
                  <div class="about-image about-image-3"></div>
                  <h2>Naturopaths</h2>
                  <p>
                     We also have naturopathic experts who help dieticians squeeze
                     out processed ingredients and help add natural and unprocessed
                     food to client diet plans to prevent body degradation and catalyze
                     metabolism.
                  </p>
                </div>
              </div>
              <div class="about-anchor"><a href="#">Learn More</a></div>        <!-- Link to About Page -->
            </div>