            
  {% load static %}
            <div class="header-package-contaiener">
              <!-- Start Carousel -->
              <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
                  <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <!-- Banner 1 -->
                  {% for banner in banner_list %}
                  <div class="{{banner.banner_class}}">
                    <div class="package-container">
                      <div class="package-wrapper">
                        <a href="#">                                             <!-- Package 1 -->
                          <div id="{{ banner.package1_id }}" class="package-unit" style="background-image:url({{ banner.package1_img.url }});">
                            <p>{{ banner.package1_name }}</p>
                          </div>
                        </a>
                        <a href="#">                                             <!-- Package 2 -->
                          <div id="{{ banner.package2_id }}" class="package-unit" style="background-image:url({{ banner.package2_img.url }});">
                            <p>{{ banner.package2_name }}</p>
                          </div>
                        </a>
                      </div>
                      <div class="banner-tagline">
                        <p>{{banner.banner_tagline}}</p>      <!-- Banner Tagline-->
                      </div>
                      <div class="package-wrapper">
                        <a href="#">                                            <!-- Package 3 -->
                          <div id="{{ banner.package3_id }}" class="package-unit" style="background-image:url({{ banner.package3_img.url }});">
                            <p>{{ banner.package3_name }}</p>
                          </div>
                        </a>
                        <a href="#">                                            <!-- Package 4 -->
                          <div id="{{ banner.package4_id }}" class="package-unit" style="background-image:url({{ banner.package4_img.url }});">
                            <p>{{ banner.package4_name }}</p>
                          </div>
                      </a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <!-- End of Banner 1 -->

                  <!-- Banner 2 -->
      <!--             <div class="item">
        <div class="package-container">
          <div class="package-wrapper">
            <a href="#">                                            Package 5
              <div id="package5" class="package-unit" style="background-image:url({% static 'home/images/banner/diabetes.jpg' %});">
                <p>Package Name</p>
              </div>
            </a>
            <a href="#">                                            Package 6
              <div id="package6" class="package-unit" style="background-image:url({% static 'home/images/banner/weight.jpg' %});">
                <p>Package Name</p>
              </div>
           </a>
          </div>
          <div class="banner-tagline">
            <p>Custom Packages Only For Your Need.</p>              Banner 2 Tagline
          </div>
          <div class="package-wrapper">
            <a href="#">                                            Package 7
              <div id="package7" class="package-unit" style="background-image:url({% static 'home/images/banner/PCOD.jpg' %});">
                <p>Package Name</p>
              </div>
            </a>
            <a href="#">                                            Package 8
              <div id="package8" class="package-unit" style="background-image:url({% static 'home/images/banner/marriage.jpg' %});">
                <p>Package Name</p>
              </div>
          </a>
          </div>
        </div>
      </div>
      End of Banner 2
      
      Banner 3
      <div class="item">
        <div class="package-container">
          <div class="package-wrapper">
            <a href="#">                                            Package 9
              <div id="package9" class="package-unit" style="background-image:url({% static 'home/images/banner/Skinny.jpg' %});">
                <p>Package Name</p>
              </div>
          </a>
            <a href="#">                                            Package 10
              <div id="package10" class="package-unit" style="background-image:url({% static 'home/images/banner/fitness.jpg' %});">
                <p>Package Name</p>
              </div>
          </a>
          </div>
          <div class="banner-tagline">
            <p>75% Of Well Being Is Influenced By Correct Dietary Lifestyle.</p>       Banner 3 Tagline
          </div>
          <div class="package-wrapper">
            <a href="#">                                            Package 11
              <div id="package11" class="package-unit" style="background-image:url({% static 'home/images/banner/shift.jpg' %});">
                <p>Package Name</p>
              </div>
          </a>
            <a href="#">                                            Package 12
              <div id="package12" class="package-unit" style="background-image:url({% static 'home/images/banner/post-menopause.jpg' %});">
                <p>Package Name</p>
              </div>
          </a>
          </div>
        </div>
      </div> -->
                  <!--End of Banner 3 -->
                </div>
                <!-- End Of Carousel items -->
              </div>
              <!-- Carousel End-->
            </div>